$mostcolorused: #009688;
.title-text p {
    margin: auto;
    font-size: 20px;
    color: $mostcolorused;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

section h2 {
    color: $mostcolorused;
}